{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="en">
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"><meta charset="UTF-8">
        <title>Reconciliation</title>
        <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' >
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.dataTables.min.css">
        
        <link rel="stylesheet" type="text/css" href="{% static 'css/Pag.css' %}"> 
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"> 
        <link rel="stylesheet" type="text/css" href="{% static 'css/ack.css' %}"> 
        <link rel="stylesheet" type="text/css" href="{% static 'css/chart.css' %}"> 
        <link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}"> 
        <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"> 
        <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}"> 
        <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}"> 
        <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}"> 
        <link rel="stylesheet" type="text/css" href="{% static 'css/tabledata.css' %}">  
        <link rel="stylesheet" type="text/css" href="{% static 'css/tabledata2.css' %}"> 
        <link rel="stylesheet" type="text/css" href="{% static 'css/skrecon.css' %}"> 
        <link rel="stylesheet" type="text/css" href="{% static 'css/scdrecon.css' %}"> 
        <link rel="stylesheet" type="text/css" href="{% static 'css/countrecon.css' %}"> 
        <link rel="stylesheet" type="text/css" href="{% static 'css/gz.css' %}"> 
        <link rel="stylesheet" type="text/css" href="{% static 'css/jobs.css' %}"> 
         <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">



        <!-- ✅ Load jQuery First -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <!-- ✅ Load DataTables After jQuery -->
        <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.colVis.min.js"></script>

        <!-- ✅ Load Other Required Libraries -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>



        <script src ="{% static 'js/script.js'%}"> </script>
       
</head>

<script>
    window.onload = function() {
       hideElements("hide") // Ensure textarea is editable
   };


   document.getElementById('batch').addEventListener('change', function () {
        var offsetFields = document.getElementById('offsetFields');
        if (this.value === 'RT') {
            offsetFields.style.display = 'block';
        } else {
            offsetFields.style.display = 'none';
        }
    });


//   function toggleUpload(show) {
//     const uploadDiv = document.getElementById("uploadDiv");
//     uploadDiv.style.display = show ? "block" : "none";
// }
 </script>

 <style>

.dropdown {
  position: relative;
  display: inline-block;
  font-family: Arial, sans-serif;
}

.dropdown-toggle {
  cursor: pointer;
  padding: 10px 15px;
  background-color: #34495e;
  color: white;
  border-radius: 4px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 12px;
  background-color: #2c3e50;
  border: 1px solid #ccc;
  padding: 10px 0;
  min-width: 125px;
  z-index: 1000;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  overflow: hidden;
}

.dropdown-menu ol {
  list-style: decimal inside;
  margin: 0;
  padding: 0 10px;
}

.dropdown-menu li {
  margin: 5px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-menu li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 5px 10px;
  border-radius: 4px;
}

.dropdown-menu li a:hover {
  background-color: #1abc9c;
  color: white;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
 </style>


<header class="main-header">
    <span class="menu-icon" id="menuToggle">&#9776;</span>
    <!-- <div  class="header-content" style="font-weight: 100;">RefRecon</div> -->
    <div class="user-welcome-left" style="float: left; margin-left: 1px;">RefRecon</div>
  
    <div class="header-content">
        <nav class="nav-links">
            {% for headerPanel in headerPanelList %}
                    {% if  headerPanel.eventType == "Function" %}
                         <a href="javascript:void(0)" onclick={{headerPanel.idV}}>{{headerPanel.name}}</a>
                    {% elif  headerPanel.eventType == "L" %}
                        <!-- <a href="{% url 'logout' %}" id={{headerPanel.idV}}>{{headerPanel.name}}</a> -->
                    {% elif headerPanel.eventType == "NA" %}
                       <a href="#" id={{headerPanel.idV}}>{{headerPanel.name}}</a>  
                    {% endif %}
            {% endfor %}

            <ul>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle">Interfaces</a>
                  <ul class="dropdown-menu">
                    {% for headerPanel in headerPanelList %}
                        {% if headerPanel.eventType == "C" %}
                        <li> <a href="javascript:void(0)" onclick="openForm('{{headerPanel.formName}}')">{{headerPanel.name}}</a>
                        {% endif %}
                    {% endfor %}
                  </ul>
                </li>
              </ul>

              <a href="{% url 'logout' %}" id="logout">Logout</a>
           
        </nav>
    </div>

    <div class="user-welcome-left" style="float: left; margin-left: 20px;">
        {% if user.is_authenticated %}
        <span style="color: hsl(39, 100%, 50%)">{{ user.username|capfirst }}</span>
        {% else %}
            <span>Welcome, Guest!</span>
        {% endif %}
    </div>
</header>

<body>
	<div class="sidebar">
		<!--
        <div class="logo_content">
                <div  class="logo"><i class='bx bxs-analyse'></i>
                    <div  class="logo_name">AI Reconciliation </div>
                </div> 
        </div>
        -->	
            {% for sidebar in sideBarList %}
                    {% if sidebar.eventType == "C" %}
                        <a href="javascript:void(0)" onclick="openForm('{{sidebar.formName}}')">{{sidebar.name}}</a>
                    {% elif  sidebar.eventType == "Function" %}
                        <a href="javascript:void(0)" onclick={{sidebar.idV}}>{{sidebar.name}}</a>
                    {% else %}
                        <a href="#" id={{sidebar.idV}}>{{sidebar.name}}</a>
                    {% endif %}
			{% endfor %}
	</div>
	
	<div class="main-content">
            
            
        <div id="chartContainer" class="hide">
            <table style="width: 100%; border-collapse: collapse;">
                <tr>
                    <td style="width: 50%; vertical-align: top;">
                        <div class="chart-wrapper0">
                            {% for chart in chartPanelList %}
                                <div class="chart-box">
                                    <div class="chart-title">{{chart.name}}</div>
                                    <canvas id="{{chart.idV}}" ></canvas>
                                </div>
                            {% endfor %}
                        </div>
                    </td>
                    <td style="width: 50%; vertical-align: top;">
                        <div class="chart-wrapper1">
                            {% for chartcob in chartPanelListcob %}
                                <div class="chart-box">
                                    <div class="chart-title">{{chartcob.name}}</div>
                                    <canvas id="{{chartcob.idV}}"></canvas>
                                </div>
                            {% endfor %}
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        
            
        <div id="chat-container" class="chat-container hide">
            <div class="chat-header">
                <!-- <span>RefData</span> -->
                <span style="color: #ffffff; font-family: 'Arial', sans-serif; font-weight: bold; font-size: 18px;">RefData</span>
                <button class="seg-btn"  data-value="WEB">WEB</button>
                <button class="seg-btn"  data-value="EXCEL">EXCEL</button>
                <button class="seg-btn" data-value="PDF">PDF</button>
                <button class="seg-btn" data-value="JSON">JSON</button>
                <button class="seg-btn selectedOption" data-value="SQL">SQL</button>
                <button id="close-chat" class="close-btn1">✖</button> 
            </div>
            <div id="chat-body" class="chat-body">
                <div class="bot-message">Hello! How can I assist you today? 😊</div>
            </div>
            <div class="chat-footer">
                <input type="text" id="chat-input" placeholder="Type a message...">
                <button id="send-message">➤</button>
                <button id="voice-btn" title="Speak">
                    <i class="fas fa-microphone"></i>
                </button>
             
            </div>
        </div>

            
            <div id="form1" class="form-container hide" style="display: none;">
                <span style="color: #000000;  font-family: 'Arial', sans-serif; font-weight:bold">ReconDetails</span>
                <form id="formId1">
                    <div class="form-fields">
                                    <div class="field-container">
                                        <label for="field2">Env</label>
                                        <select id="field2" name="field2">
                                            <option value="PROD" selected>PROD</option>
                                            <option value="COB" >COB</option>
                                        </select>
                                    </div>


                                    <div class="field-container">
                                        <label for="tblNameLbl">Entity</label>
                                        <select id="tblName" name="tblName">
                                            {% for tbl in tablelList %}
                                                {% if tbl.lebal == "Product" %}
                                                <option value={{ tbl.lebal }} selected>{{ tbl.lebal }}</option>
                                                {% else %}
                                                <option value={{ tbl.lebal }}>{{ tbl.lebal }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    
                                    <div class="field-container">
                                        <label for="pipelineLbl">Pipeline</label>
                                        <select id="pipeline" name="pipeline">
                                            {% for line in pipeLineList %}
                                                {% if line.name == "Cloud-Gemfire" %}
                                                <option value="{{ line.name }}" selected>{{ line.lebal }}</option>
                                                {% else %}
                                                <option value="{{ line.name }}">{{ line.lebal }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="field-container">
                                        <label for="batchLbl">Batch</label>
                                        <select id="batch" name="batch">
                                            <option value="EOD" selected>EOD</option>
                                            <option value="RT">RT</option>
                                        </select>
                                    </div>

                                    <div class="field-container">
                                        <label for="temporalLbl">Temporal</label>
                                        <select id="temporal" name="temporal">
                                            <option value="TYPE1" selected>TYPE1</option>
                                            <option value="TYPE2">TYPE2-SCD2</option>
                                        </select>
                                    </div>

                                    <div class="field-container">
                                        <label for="onBoardingLbl">OnBoarding</label>
                                        <select id="onBoarding" name="onBoarding">
                                            <option value="DC" selected>DC</option>
                                            <option value="NRT">NRT</option>
                                            <option value="SF">SF</option>
                                        </select>
                                    </div>

                                    <div class="field-container">
                                        <label for="field3">Recon</label>
                                        <select id="field3" name="field3">
                                            <option value="SingleRecon" selected>SINGLE RECON</option>
                                            <option value="BulkRecon">BULK RECON</option>
                                        </select>
                                    </div>

                                    <div class="field-container">
                                        <label for="field4">FilePattern</label>
                                        <select id="field4" name="field4">
                                            <option value="JSON" selected>JSON</option>
                                            <option value="CSV">CSV</option>
                                            <option value="EXCEL">EXCEL</option>
                                        </select>
                                    </div>

                                    <div class="field-container">
                                        <label for="dateLbl">Business Date</label>
                                        <input type="text" id="date" name="date"  value="2025-01-31">
                                    </div>

                                    <div class="field-container">
                                        <label for="field1">FilePath</label>
                                        <input type="text" id="field1" name="date" value="">
                                    </div>

                                    <div class="field-container">
                                        <label for="field5">DataModel</label>
                                        <input type="text" id="field5" name="date" value="OrderDataModel.xlsx">
                                    </div>
            
                                    <div class="field-container">
                                        <label for="field6">FileName</label>
                                        <input type="text" id="field6" name="date" value="Order.json">
                                    </div>

                                    <div class="offset-fields">
                                        <label for="startOffSet">Start Offset</label>
                                        <input type="text" id="startOffSet" name="startOffSet" value="1:1000",placeholder="1:1000,2:1000,3:1000">
                                    </div>
                                    
                                    <div class="offset-fields">
                                        <label for="endOffSet">End Offset</label>
                                        <input type="text" id="endOffSet" name="endOffSet" value="1:1000",placeholder="1:5000,2:5000,3:5000">
                                    </div>

                                    <div class="button-row">
                                        <button type="button" id="bt1">Submit</button>
                                        <button type="reset">Reset</button>
                                    </div>
                                   
                    </div>
                </form>
            </div>
            
       

            <div id="form2" class="form-container hide" style="display: none;">
             
                <span style="color: #000000;  font-family: 'Arial', sans-serif; font-weight:bold">SelfService</span>
                <form id="formId2">
                    <div class="form-fields">
                        <div class="field-container">
                            <label for="tblNameLbl">Entity</label>
                            <select id="tblName" name="tblName">
                                {% for tbl in tablelList %}
                                    <option value={{ tbl.lebal }}>{{ tbl.lebal }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="field-container">
                            <label for="dateLbl">Env</label>
                            <select id="tblName" name="tblName">
                                 <option value="A">PROD</option>
                                <option value="B">COB</option>
                            </select>
                        </div>

                        <div>
                            <span style="color: #000000;  font-family: 'Arial', sans-serif; font-weight:bold">PayLoad</span>
                            <textarea id="output2" readonly="false" rows="15" cols="100"></textarea>
                        </div>

                        <div class="button-row">
                            <button type="button" id="bt2">Submit</button>
                            <button type="reset">Reset</button>
                        </div>

                    </div>
                </form>
            </div>

            <div id="form3" class="form-container hide" style="display: none;">
            
                <span style="color: #000000;  font-family: 'Arial', sans-serif; font-weight:bold">KafkaClient</span>
                <form id="formId3">
                    <div class="form-fields">
                        <div class="field-container">
                            <label for="tblNameLbl">Entity</label>
                            <select id="tblName" name="tblName">
                                {% for tbl in tablelList %}
                                    <option value={{ tbl.lebal }}>{{ tbl.lebal }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="field-container">
                            <label for="tblNameLbl">Topic</label>
                            <select id="tblName" name="tblName">
                                <option value="">Select...</option>
                                <option value="A">A</option>
                                <option value="B">B</option>
                            </select>
                        </div>

                        <div class="field-container">
                            <label for="tblNameLbl">Env</label>
                            <select id="tblName" name="tblName">
                                <option value="A">Prod</option>
                                <option value="B">Cob</option>
                            </select>
                        </div>
                        
                        <div class="field-container">
                            <label for="dateLbl">Partiton:OffSet</label>
                            <input type="text" id="date" name="date">
                        </div>
                        <div>
                           
                            <span style="color: #000000;  font-family: 'Arial', sans-serif; font-weight:bold">Output</span>
                            <textarea id="output3" rows="15" cols="100" readonly></textarea>
                        </div>

                        <div class="button-row">
                            <button type="button" id="bt3">Submit</button>
                            <button type="reset">Reset</button>
                        </div>

                    </div>
                </form>
            
                
            </div>

            <div id="form4" class="form-container hide" style="display: none;">
            
                <span style="color: #000000;  font-family: 'Arial', sans-serif; font-weight:bold">GemfireClient</span>
                <form id="formId4">
                    <div class="form-fields">
                        <div class="field-container">
                            <label for="tblNameLbl">Entity</label>
                            <select id="tblName" name="tblName">
                                {% for tbl in tablelList %}
                                    <option value={{ tbl.lebal }}>{{ tbl.lebal }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="field-container">
                            <label for="tblNameLbl">GemfireRegion</label>
                            <select id="tblName" name="tblName">
                                <option value="A">/olympus/account/acti</option>
                                <option value="A">/olympus/account/mpid</option>
                            </select>
                        </div>

                        <div class="field-container">
                            <label for="tblNameLbl">Env</label>
                            <select id="tblName" name="tblName">
                                <option value="A">Prod</option>
                                <option value="B">Cob</option>
                            </select>
                        </div>
                        
                        <div class="field-container">
                            <label for="dateLbl">Key</label>
                            <input type="text" id="date" name="date">
                        </div>
                        <div>
                          
                            <textarea id="output4" rows="15" cols="100" readonly></textarea>
                            
                        </div>

                        <div class="button-row">
                            <button type="button" id="bt4">Submit</button>
                            <button type="reset">Reset</button>
                        </div>

                    </div>
                </form>
            </div>


            <div id="form5" class="form-container hide" style="display: none;">
         
                <span style="color: #000000;  font-family: 'Arial', sans-serif; font-weight:bold">CloudClient</span>
                <form id="formId5">
                    <div class="form-fields">
                        <div class="field-container">
                            <label for="tblNameLbl">Entity</label>
                            <select id="tblName" name="tblName">
                                {% for tbl in tablelList %}
                                    <option value={{ tbl.lebal }}>{{ tbl.lebal }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div class="field-container">
                            <label for="tblNameLbl">Env</label>
                            <select id="tblName" name="tblName">
                                <option value="A">Prod</option>
                                <option value="B">Cob</option>
                            </select>
                        </div>
                        
                        <div class="field-container">
                            <label for="dateLbl">Key</label>
                            <input type="text" id="date" name="date">
                        </div>

                        <div class="field-container">
                            <label for="dateLbl">SubscriptionName</label>
                            <input type="text" id="date" name="date">
                        </div>
                        <div>
                          
                            <span style="color: #000000;  font-family: 'Arial', sans-serif; font-weight:bold">Output</span>
                            <textarea id="output5" rows="15" cols="100" readonly></textarea>
                        </div>

                        <div class="button-row">
                            <button type="button" id="bt5">Submit</button>
                            <button type="reset">Reset</button>
                        </div>

                    </div>
                </form>
            </div>

            <div id="form6" class="form-container hide" style="display: none;">
              
                <span style="color: #000000;  font-family: 'Arial', sans-serif; font-weight:bold">ImpalaClient</span>
                <form id="formId6">
                    <div class="form-fields">
                        <div class="field-container">
                            <label for="tblNameLbl">Entity</label>
                            <select id="tblName" name="tblName">
                                {% for tbl in tablelList %}
                                    <option value={{ tbl.lebal }}>{{ tbl.lebal }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div class="field-container">
                            <label for="tblNameLbl">Env</label>
                            <select id="tblName" name="tblName">
                                <option value="A">Prod</option>
                                <option value="B">Cob</option>
                            </select>
                        </div>
                        
                        <div>
                            <div>
                                <span style="color: #000000; font-family: 'Arial', sans-serif; font-weight:bold">Query</span>
                                <textarea id="inputQuery6" rows="2" cols="97" placeholder="Enter Query"></textarea>
                            </div>
                            
                        </div>
                        
                        <div>
                           <span style="color: #000000;  font-family: 'Arial', sans-serif; font-weight:bold">Output</span>
                            <textarea id="output6" rows="15" cols="100" readonly></textarea>
                        </div>

                        <div class="button-row">
                            <button type="button" id="bt6">Submit</button>
                            <button type="reset">Reset</button>
                        </div>

                    </div>
                </form>
            </div>

            <div id="form7" class="form-container hide" style="display: none;">
                <span style="color: #000000;  font-family: 'Arial', sans-serif; font-weight:bold">OraasClient</span>
                <form id="formId7">
                    <div class="form-fields">
                        
                        
                        <div class="field-container">
                            <label for="tblNameLbl">Env</label>
                            <select id="tblName" name="tblName">
                                <option value="A">Prod</option>
                                <option value="B">Cob</option>
                            </select>
                        </div>

                        <div class="field-container">
                            <label for="tblNameLbl">Schema</label>
                            <select id="tblName" name="tblName">
                                <option value="A">Schema1</option>
                                <option value="A">Schema2</option>
                                <option value="A">Schema3</option>
                            </select>
                        </div>
                        
                        <div>
                            <span style="color: #000000; font-family: 'Arial', sans-serif; font-weight:bold">Query</span>
                            <textarea id="inputQuery7" rows="2" cols="97" placeholder="Enter Query"></textarea>
                        </div>
                        
                        
                        <div>
                           <span style="color: #000000;  font-family: 'Arial', sans-serif; font-weight:bold">Output</span>
                            <textarea id="output7" rows="15" cols="100" readonly></textarea>
                        </div>

                        <div class="button-row">
                            <button type="button" id="bt7">Submit</button>
                            <button type="reset">Reset</button>
                        </div>

                    </div>
                </form>
            </div>
       
            <div id="receipt" class="receipt hide" style="display: none;">
                <p>Submission Summary: ReconID- <span id="requestId">ReqXXXX</span></p>
                <button class="close-btn" onclick="closeReceipt()">Close</button>
            </div>
            
            <div id="requestTable1" class="requestTable1 hide" style="display:none;">
                <h3>Please Enter ReconID</h3>
                <input type="text" id="reqIdInput"/>
                <button onclick="showRequestData2()">Search</button>
                <div id="wrapper"></div>
            </div>
        
            <!-- <div id="requestTable" style="display: none;" class="hide">
                <p style="font-size: 16px; font-weight: bold; text-align: center;color: #2c3e50; margin-bottom: 20px;">ReconData</p>
                <div class="table-container">
                            <table id="requestDataTable" class="display">
                                        <thead>
                                            <tr>
                                                <th>RequestID</th>
                                                <th>JoinKey</th>
                                                <th>Attribute</th>
                                                <th>Kafka</th>
                                                <th>Impala</th>
                                                <th>Gemfire</th>
                                                <th>ReconStatus</th>
                                                <th>Env</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                            </table>
                </div>
            </div> -->

            <div id="requestTable" style="display: none;" class="hide">
                <p style="font-size: 16px; font-weight: bold; text-align: center;color: #2c3e50; margin-bottom: 20px;">ReconData</p>
                <!-- <button class="seg-btn" id="actv" data-value="ACTV">ACTV</button>
                <button class="seg-btn" id="hist" data-value="HIST">HIST</button> -->
                <div class="table-container">
                    <table id="requestDataTable" class="display">
                        <thead>
                            <tr>
                                <th>RequestID</th>
                                <th>
                                    NaturalKey 
                                    <i id="filterIcon" class="fa fa-filter" style="cursor: pointer; margin-left: 10px;"></i>
                                    <input id="filterInput" type="text" style="display:none; margin-left: 10px;">
                                </th>
                                <th>Attribute
                                    <i id="filterIconAttribute" class="fa fa-filter" style="cursor: pointer; margin-left: 10px;"></i>
                                    <input id="filterInputAttribute" type="text" placeholder="Filter Attribute" style="display:none; margin-left: 10px;">
                                </th>
                                <th>Kafka</th>
                                <th>Impala</th>
                                <th>Gemfire</th>
                                <th>ReconStatus</th>
                                <th>Env</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            

            <div id="requestTable2" style="display: none;" class="hide">
                <p style="font-size: 16px; font-weight: bold; text-align: center;color: #2c3e50; margin-bottom: 20px;">ReconHistory</p>
                 <div class="table-container">
                            <table id="requestDataTable2" class="display">
                                        <thead>
                                            <tr>
                                                <th>ReqID
                                                        <!-- <i id="filterReqID" class="fa fa-filter" style="cursor: pointer; margin-left: 10px;"></i>
                                                        <input id="filterReqIDInput" type="text" placeholder="Filter Attribute" style="display:none; margin-left: 10px;"> -->
                                                </th>
                                                <th>CreatedBy</th>
                                                <th>CreatedDate</th>
                                                <th>Table</th>
                                                <th>Flow</th>
                                                <th>Temporal</th>
                                                <th>Batch</th>
                                                <th>Env</th>
                                                <th>Status</th>
                                            </tr>
                                            <tr>
                                                <th>   <i id="filterReqID" class="fa fa-filter" style="cursor: pointer; margin-left: 10px;"></i> <input id="filterReqIDInput" type="text" placeholder="Filter Attribute" style="display:none; margin-left: 10px;">
                                                </th>
                                                <th>   <i id="filterReqID" class="fa fa-filter" style="cursor: pointer; margin-left: 10px;"></i><input id="filterReqIDInput" type="text" placeholder="Filter Attribute" style="display:none; margin-left: 10px;">
                                                </th>
                                                <th>   <i id="filterReqID" class="fa fa-filter" style="cursor: pointer; margin-left: 10px;"></i> <input id="filterReqIDInput" type="text" placeholder="Filter Attribute" style="display:none; margin-left: 10px;">
                                                </th>
                                                <th>  <i id="filterReqID" class="fa fa-filter" style="cursor: pointer; margin-left: 10px;"></i><input id="filterReqIDInput" type="text" placeholder="Filter Attribute" style="display:none; margin-left: 10px;">
                                                </th>
                                                <th>   <i id="filterReqID" class="fa fa-filter" style="cursor: pointer; margin-left: 10px;"></i><input id="filterReqIDInput" type="text" placeholder="Filter Attribute" style="display:none; margin-left: 10px;">
                                                </th>
                                                <th>   <i id="filterReqID" class="fa fa-filter" style="cursor: pointer; margin-left: 10px;"></i><input id="filterReqIDInput" type="text" placeholder="Filter Attribute" style="display:none; margin-left: 10px;">
                                                </th>
                                                <th>   <i id="filterReqID" class="fa fa-filter" style="cursor: pointer; margin-left: 10px;"></i><input id="filterReqIDInput" type="text" placeholder="Filter Attribute" style="display:none; margin-left: 10px;">
                                                </th>
                                                <th>   <i id="filterReqID" class="fa fa-filter" style="cursor: pointer; margin-left: 10px;"></i><input id="filterReqIDInput" type="text" placeholder="Filter Attribute" style="display:none; margin-left: 10px;">
                                                </th>
                                                <th>  <i id="filterReqID" class="fa fa-filter" style="cursor: pointer; margin-left: 10px;"></i>  <input id="filterReqIDInput" type="text" placeholder="Filter Attribute" style="display:none; margin-left: 10px;">
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                            </table>
                </div>
            </div>

            <div id="skrecon" style="display: none;" class="hide">
                <p style="font-size: 16px; font-weight: bold; text-align: center;color: #2c3e50; margin-bottom: 20px;">SKReconHistory</p>
                <div class="table-container">
                            <table id="skDatarecon" class="display">
                                        <thead>
                                            <tr>
                                                <th>TableName</th>
                                                <th>RegionName</th>
                                                <th>SKMismatchFreq</th>
                                                <th>SKMismatchCount</th>
                                                <th>Date</th>
                                                <th>Env</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                            </table>
                </div>
            </div>

            <div id="countrecon" style="display: none;" class="hide">
                <p style="font-size: 16px; font-weight: bold; text-align: center;color: #2c3e50; margin-bottom: 20px;">GemfireCount</p>
                <div class="table-container">
                            <table id="countDatarecon" class="display">
                                        <thead>
                                            <tr>
                                                <th>TableName</th>
                                                <th>RegionName</th>
                                                <th>CountDiff</th>
                                                <th>HiveCount</th>
                                                <th>GemfireCount</th>
                                                <th>DWHUpdateTS</th>
                                                <th>Env</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                            </table>
                </div>
            </div>


            <div id="gzrecon" style="display: none;" class="hide">
                <p style="font-size: 16px; font-weight: bold; text-align: center;color: #2c3e50; margin-bottom: 20px;">GreenZoneDetails</p>
                <div class="table-container">
                            <table id="gzDatarecon" class="display">
                                        <thead>
                                            <tr>
                                                <th>Cluster</th>
                                                <th>StartDate</th>
                                                <th>EndDate</th>
                                                <th>Env</th>
                                                <th>CorePS</th>
                                                <th>PlatformPS</th>
                                                <th>EAP</th>
                                                </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                            </table>
                </div>
            </div>

            <div id="jobsrecon" style="display: none;" class="hide">
                <p style="font-size: 16px; font-weight: bold; text-align: center;color: #2c3e50; margin-bottom: 20px;">JobCatalog</p>
                <div class="table-container">
                            <table id="jobsDatarecon" class="display">
                                        <thead>
                                            <tr>
                                                <th>Table</th>
                                                <th>Type</th>
                                                <th>JobName</th>
                                                <th>Contact</th>
                                                <th>OnBoarding</th>
                                                <th>Env</th>
                                                <th>ExecutionTime</th>
                                                <th>LastExecutionDate</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                            </table>
                </div>
            </div>


            <div id="scdrecon" style="display: none;" class="hide">
                <p style="font-size: 16px; font-weight: bold; text-align: center;color: #2c3e50; margin-bottom: 20px;">SCD2DataFileAudit</p>
                <div class="table-container">
                            <table id="scdDatarecon" class="display">
                                        <thead>
                                            <tr>
                                                <th>ReqId</th>
                                                <th>Name</th>
                                                <th>CreatedDate</th>
                                                <!-- <th>Env</th>
                                                <th>Entity</th> -->
                                                <th>InputFilePath</th>
                                                <!-- <th>FileType</th> -->
                                                <th>OutputFilePath</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                            </table>
                </div>
            </div>



            <div id="form8" class="form-container hide" style="display: none;">
                <span style="color: #000000;  font-family: 'Arial', sans-serif; font-weight:bold">FileUpload</span>
                <form id="formId8">
                    <div class="form-fields">
                        
                        
                        <div class="field-container">
                            <label for="tblNameLbl">Env</label>
                            <select id="env" name="tblName">
                                <option value="A">Prod</option>
                                <option value="B">Cob</option>
                            </select>
                        </div>

                        <div class="field-container">
                            <label for="tblNameLbl">Entity</label>
                            <select id="entity" name="tblName">
                                <option value="Product">Order</option>
                                <!-- <option value="Party">Party</option>
                                <option value="Account">Account</option> -->
                                <option value="Account">DataModel</option>
                            </select>
                        </div>

                         
                        <div>
                            <label for="FilePath">FilePath</label>
                            <input type="text" id="filePath" name="filePath" size="43"> 
                        </div>
                        
                        <div class="field-container">
                            <label for="tblNameLbl">FileType</label>
                            <select id="fileType" name="fileType">
                                <option value="JSON">JSON</option>
                                <option value="CSV">CSV</option>
                                <option value="EXCEL">EXCEL</option>
                            </select>
                        </div>
                       
                        
                        <div>
                            <span style="color: #000000; font-family: 'Arial', sans-serif; font-weight:bold">File:</span>
                            <input type="file" name="file" id="id_file" required>
                        </div>

                        <div class="button-row">
                            <button type="button" id="bt8">Upload</button>
                            <button type="reset">Reset</button>
                        </div>
                    </div>
                </form>
                <div id="loadingSpinner" style="display:none;">
                    <div class="spinner"></div>
                </div>
            </div>


            <div id="form9" class="form-container hide" style="display: none;">
                <span style="color: #000000;  font-family: 'Arial', sans-serif; font-weight:bold">SCD2FileGeneration</span>
                <form id="formId9">
                    <div class="form-fields">
                        
                        
                        <div class="field-container">
                            <label for="tblNameLbl">Env</label>
                            <select id="env9" name="tblName">
                                <option value="A">PROD</option>
                                <option value="B">COB</option>
                            </select>
                        </div>

                        <div class="field-container">
                            <label for="tblNameLbl">Entity</label>
                            <select id="entity9" name="tblName">
                                <option value="Product">Order</option>
                                <!-- <option value="Party">Party</option>
                                <option value="Account">Account</option> -->
                            </select>
                        </div>

                        <div>
                            <label for="FilePath">FilePath</label>
                            <input type="text" id="filePath9" name="filePath" size="43"> 
                        </div>

                        <div class="field-container">
                            <label for="tblNameLbl">FileType</label>
                            <select id="fileType9" name="fileType">
                                <option value="JSON">JSON</option>
                                <option value="CSV">CSV</option>
                                <option value="EXCEL">EXCEL</option>
                            </select>
                        </div>

                        
                        <!-- <div>
                            <label for="tblNameLbl">Keys</label>
                            <input type="text" name="keys" id="keys" size="43" required>
                        </div> -->
                       
                        <!-- <div class="field-container">
                        <label for="tblNameLbl">
                            <input type="radio" name="option" value="option1">
                         File
                          </label><br>
                        </div>
                        
                        <div class="field-container">
                        <label>
                            <input type="radio" name="option" value="option1">
                         Text
                          </label><br>
                        </div> -->

                        <div>
                            <span style="color: #000000; font-family: 'Arial', sans-serif; font-weight:bold">File:</span>
                             <input type="file" name="id_file9" id="id_file9" required>
                        </div>

                        

                        <!-- <div>
                            <label for="tblNameLbl">OutPut File Path:</label>
                            <input type="text" name="keys" id="keys" size="43" required>
                        </div> -->
                        
                        <div class="button-row">
                            <button type="button" id="bt9">Submit</button>
                            <button type="reset">Reset</button>
                        </div>
                    </div>
                </form>
                <div id="loadingSpinner9" style="display:none;">
                    <div class="spinner"></div>
                </div>
            </div>
    </div>
</body>
</html>