{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
   
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"> 
</head>

<body>
    <div class="login-container">
        <div class="login-form">
            <h2 class="form-title">RefRecon</h2>
            <form action="#" method="POST">
			     {% csrf_token %}
                <div class="input-field">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" class="input" required>
                </div>
                <div class="input-field">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" class="input" required>
                </div>
                <button type="submit" class="submit-btn">Login</button>
            </form>
        </div>
    </div>
</body>
</html>


